# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-version
coverage/

# =========================
# Android
# =========================
android/.gradle/
android/.idea/
android/local.properties
android/key.properties
android/*.keystore
*.jks

# =========================
# iOS / Xcode
# =========================
ios/Pods/
ios/.symlinks/
ios/DerivedData/
ios/Runner.xcworkspace
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/

# Xcode user data
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
profile

# =========================
# macOS
# =========================
.DS_Store
**/.DS_Store

# =========================
# Logs / Temp
# =========================
*.log
**/*sync/
.sconsign.dblite
.tags*

# =========================
# CocoaPods
# =========================
**/Pods/
**/.symlinks/

# =========================
# CI / Generated
# =========================
**/.generated/
Runner/GeneratedPluginRegistrant.*

# =========================
# Secrets (VERY IMPORTANT)
# =========================
.env
.env.*
ServiceDefinitions.json

# =========================
# Vagrant / Others
# =========================
**/.vagrant/

# =========================
# Exceptions (DO NOT REMOVE)
# =========================
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3